#app {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

body {
  background-color: #666666;
  font-family:'Times New Roman', Times, serif;
  align-items: center;
}

a {
  color: #cc0000;
  text-decoration: none;
}

a:hover {
  color: black;
}