:root {
  --white: #ffffff;
  --red: #993333;
  --green: #336633;
  --blue: #333366;
  --black: #000000;
  --grey: #c2c2c2;
  --darkGrey: #595959;
}

.red {
  color: var(--red);
}

.green {
  color: var(--green)
}

.blue {
  color: var(--blue);
}

.black {
  color: var(--black);
}

body {
  font-family:'Times New Roman', Times, serif;
  align-items: center;
  background-image: url("/images/index.jpg");
  background-attachment: fixed;
  min-height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}

.button:hover {
  color: var(--darkGrey);
}