:root {
  --color-0: #ffffff;
  --color-1: #cc0000;
  --color-2: #000000;
  --color-3: #f3f3f3;
}

.red {
  color: #993333;
}

.green {
  color: #336633;
}

.blue {
  color: #333366;
}

.black {
  color: #000000;
}

#app {
  height: 100vh;
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  position: relative;
}

body {
  font-family:'Times New Roman', Times, serif;
  align-items: center;
  background-image: url("/images/index.jpg");
  background-attachment: fixed;
  min-height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 0px 6px;
  border-width: 0px 12px;
  border-style: solid;
  border-color: #00000000;
  background-clip: padding-box;
  background-color: var(--color-0);
}

.fill {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
}

a {
  color: var(--color-1);
  text-decoration: none;
}

a:hover {
  color: var(--color-2);
}